<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @message.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @message.description %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @message.tag %>
</p>

<p>
  <strong>Video file:</strong>
  <%= @message.url %>
</p>

<p>
  <strong>Thumb file:</strong>
  <%= @message.thumbnail_url %>
</p>


<%= link_to 'Back', messages_path %>
